m365-operations-automation-suite/power-automate/WeeklyOperationsReport/definition.json
{
  "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "$connections": { "defaultValue": {}, "type": "Object" },
    "$authentication": { "defaultValue": {}, "type": "SecureObject" },
    "ReportRecipients": {
      "defaultValue": "ops.manager@contoso.com;finance.lead@contoso.com",
      "type": "String",
      "metadata": { "description": "Semicolon-separated recipients of the weekly summary." }
    }
  },
  "triggers": {
    "Every_Monday_at_7am": {
      "type": "Recurrence",
      "recurrence": {
        "frequency": "Week",
        "interval": 1,
        "schedule": { "hours": [ "7" ], "weekDays": [ "Monday" ] },
        "timeZone": "GMT Standard Time"
      }
    }
  },
  "actions": {
    "Get_requests_from_last_7_days": {
      "runAfter": {},
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "connectionName": "shared_sharepointonline",
          "operationId": "GetItems",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline"
        },
        "parameters": {
          "dataset": "https://contoso.sharepoint.com/sites/Operations",
          "table": "Purchase Requests",
          "$filter": "Created ge datetime'@{addDays(utcNow(), -7, 'yyyy-MM-ddTHH:mm:ssZ')}'",
          "$orderby": "Created desc",
          "$top": 500
        },
        "authentication": "@parameters('$authentication')"
      }
    },
    "Select_report_columns": {
      "runAfter": {
        "Get_requests_from_last_7_days": [ "Succeeded" ]
      },
      "type": "Select",
      "inputs": {
        "from": "@outputs('Get_requests_from_last_7_days')?['body/value']",
        "select": {
          "Ref": "@item()?['ID']",
          "Item": "@item()?['Title']",
          "Department": "@item()?['Department']",
          "Amount": "@item()?['Amount']",
          "Status": "@item()?['Status']?['Value']",
          "Submitted": "@formatDateTime(item()?['Created'], 'dd MMM')"
        }
      }
    },
    "Build_HTML_table": {
      "runAfter": {
        "Select_report_columns": [ "Succeeded" ]
      },
      "type": "Table",
      "inputs": {
        "from": "@body('Select_report_columns')",
        "format": "HTML"
      }
    },
    "Compose_total_value": {
      "runAfter": {
        "Build_HTML_table": [ "Succeeded" ]
      },
      "type": "Compose",
      "inputs": "@sum(xpath(xml(json(concat('{\"r\":{\"v\":', string(body('Select_report_columns')), '}}'))), '//Amount/text()'))"
    },
    "Send_weekly_summary_email": {
      "runAfter": {
        "Compose_total_value": [ "Succeeded" ]
      },
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "connectionName": "shared_office365",
          "operationId": "SendEmailV2",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
        },
        "parameters": {
          "emailMessage/To": "@parameters('ReportRecipients')",
          "emailMessage/Subject": "Weekly Operations Summary — @{formatDateTime(utcNow(), 'dd MMM yyyy')}",
          "emailMessage/Body": "<h3>Purchase requests in the last 7 days</h3><p>Total submitted: <b>@{length(body('Select_report_columns'))}</b></p>@{body('Build_HTML_table')}<p style='color:#666;font-size:12px'>Generated automatically by the Operations Automation Suite.</p>"
        },
        "authentication": "@parameters('$authentication')"
      }
    },
    "Post_summary_to_Teams": {
      "runAfter": {
        "Send_weekly_summary_email": [ "Succeeded" ]
      },
      "type": "OpenApiConnection",
      "inputs": {
        "host": {
          "connectionName": "shared_teams",
          "operationId": "PostMessageToConversation",
          "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
        },
        "parameters": {
          "poster": "Flow bot",
          "location": "Channel",
          "body/recipient/groupId": "Finance Operations",
          "body/messageBody": "Weekly operations summary sent. <b>@{length(body('Select_report_columns'))}</b> requests in the last 7 days."
        },
        "authentication": "@parameters('$authentication')"
      }
    }
  },
  "outputs": {}
}
