m365-operations-automation-suite/logic-apps/azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "description": "Deploys a Consumption Logic App that mirrors the Purchase Request Approval logic as a cloud integration. Same Workflow Definition Language as the Power Automate flow, deployable straight to an Azure resource group for a live demo."
  },
  "parameters": {
    "logicAppName": {
      "type": "string",
      "defaultValue": "la-purchase-approval-demo",
      "metadata": { "description": "Name of the Logic App workflow." }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "office365ConnectionName": {
      "type": "string",
      "defaultValue": "office365"
    },
    "approverEmail": {
      "type": "string",
      "defaultValue": "ops.manager@contoso.com",
      "metadata": { "description": "Mailbox that receives the approval email and clicks Approve / Reject." }
    }
  },
  "variables": {
    "office365ConnectionId": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/office365')]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[parameters('office365ConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "Office 365 Outlook",
        "api": { "id": "[variables('office365ConnectionId')]" }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[parameters('logicAppName')]",
      "location": "[parameters('location')]",
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": { "type": "Object", "defaultValue": {} },
            "approverEmail": { "type": "String", "defaultValue": "[parameters('approverEmail')]" }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "item": { "type": "string" },
                    "amount": { "type": "number" },
                    "requestorEmail": { "type": "string" },
                    "department": { "type": "string" }
                  },
                  "required": [ "item", "amount", "requestorEmail" ]
                }
              }
            }
          },
          "actions": {
            "Send_approval_email": {
              "runAfter": {},
              "type": "ApiConnectionWebhook",
              "inputs": {
                "host": {
                  "connection": { "name": "@parameters('$connections')['office365']['connectionId']" }
                },
                "body": {
                  "Message": {
                    "Subject": "Approve purchase: @{triggerBody()?['item']} (@{triggerBody()?['amount']})",
                    "Options": "Approve, Reject",
                    "To": "@parameters('approverEmail')",
                    "Body": "Requestor: @{triggerBody()?['requestorEmail']}<br/>Department: @{triggerBody()?['department']}<br/>Amount: @{triggerBody()?['amount']}",
                    "HideHTMLMessage": false,
                    "ShowHTMLConfirmationDialog": false
                  },
                  "NotificationUrl": "@{listCallbackUrl()}"
                },
                "path": "/approvalmail/$subscriptions"
              }
            },
            "Condition_Approved": {
              "runAfter": { "Send_approval_email": [ "Succeeded" ] },
              "type": "If",
              "expression": {
                "equals": [ "@body('Send_approval_email')?['SelectedOption']", "Approve" ]
              },
              "actions": {
                "Notify_requestor_approved": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "host": { "connection": { "name": "@parameters('$connections')['office365']['connectionId']" } },
                    "method": "post",
                    "path": "/v2/Mail",
                    "body": {
                      "To": "@triggerBody()?['requestorEmail']",
                      "Subject": "Approved: @{triggerBody()?['item']}",
                      "Body": "<p>Your purchase request has been approved.</p>"
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Notify_requestor_rejected": {
                    "runAfter": {},
                    "type": "ApiConnection",
                    "inputs": {
                      "host": { "connection": { "name": "@parameters('$connections')['office365']['connectionId']" } },
                      "method": "post",
                      "path": "/v2/Mail",
                      "body": {
                        "To": "@triggerBody()?['requestorEmail']",
                        "Subject": "Not approved: @{triggerBody()?['item']}",
                        "Body": "<p>Your purchase request was not approved.</p>"
                      }
                    }
                  }
                }
              }
            },
            "Response": {
              "runAfter": { "Condition_Approved": [ "Succeeded" ] },
              "type": "Response",
              "kind": "Http",
              "inputs": {
                "statusCode": 200,
                "body": {
                  "outcome": "@body('Send_approval_email')?['SelectedOption']",
                  "item": "@triggerBody()?['item']"
                }
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "office365": {
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('office365ConnectionName'))]",
                "connectionName": "[parameters('office365ConnectionName')]",
                "id": "[variables('office365ConnectionId')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "logicAppTriggerUrl": {
      "type": "string",
      "value": "[listCallbackUrl(resourceId('Microsoft.Logic/workflows/triggers', parameters('logicAppName'), 'manual'), '2019-05-01').value]"
    }
  }
}
